*.iml
.gradle
build
__MACOSX
.idea
keystore
.DS_Store
local.properties
*.apk
qbaselib.iml
.*
!/.gitignore
gradle-wrapper.properties
Android.mk
qpython/src/main/jni/python/libpython2.7.b
qpysdk/src/main/obj
values-fr
values-tr
build.gradle.new
