<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.qpython.qpy">


    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />


    <application
        android:name="org.qpython.qpy.main.app.App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/micon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57a3047867e58e7784000569" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="TEST" />

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="6ba31f352b4bd435fa56f8e2" /> <!--  </>值来自开发者平台取得的AppKey-->

        <service android:name="org.qpython.qsl4a.QPyScriptService" />
        <activity android:name="org.renpy.android.PythonActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale|uiMode"
            android:launchMode="singleTask"
            android:process=":python"
            android:screenOrientation="user"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>

        <activity android:name="org.qpython.qpy.main.activity.HomeMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.qpython.qpy.main.activity.QWebViewActivity" />


        <activity android:name="org.qpython.qpy.main.activity.AboutActivity" />

        <activity
            android:name="org.qpython.qpy.console.TermActivity"
            android:theme="@style/ConsoleTheme" />

        <activity-alias
            android:name="TermInternal"
            android:exported="false"
            android:targetActivity="org.qpython.qpy.console.TermActivity"
            android:theme="@style/ConsoleTheme">
            <intent-filter>
                <action android:name="jackpal.androidterm.private.OPEN_NEW_WINDOW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="jackpal.androidterm.private.SWITCH_WINDOW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>
        <activity
            android:name="org.qpython.qpy.console.RemoteInterface"
            android:excludeFromRecents="true"
            android:theme="@style/ConsoleTheme">
            <intent-filter>
                <action android:name="jackpal.androidterm.OPEN_NEW_WINDOW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name="TermHere"
            android:exported="true"
            android:label="@string/activity_term_here_title"
            android:targetActivity="org.qpython.qpy.console.RemoteInterface"
            android:theme="@style/ConsoleTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="*/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>
        <activity android:name="org.qpython.qsl4a.qsl4a.activity.FutureActivity"
            android:label="QSL4A FutureActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/com.hipipal.qpy.nfc" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.qpython.qpy.console.RunScript"
            android:excludeFromRecents="true"
            android:theme="@style/ConsoleTheme">
            <intent-filter>
                <action android:name="jackpal.androidterm.RUN_SCRIPT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.qpython.qpy.console.RunShortcut"
            android:excludeFromRecents="true"
            android:theme="@style/ConsoleTheme">
            <intent-filter>
                <action android:name="jackpal.androidterm.RUN_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.qpython.qpy.console.TermPreferences"
            android:label="@string/preferences"
            android:theme="@style/ConsoleTheme" />
        <activity
            android:name="org.qpython.qpy.console.WindowList"
            android:label="@string/window_list"
            android:theme="@style/ConsoleTheme" />


        <activity
            android:name="org.qpython.qpy.console.shortcuts.AddShortcut"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/activity_shortcut_create"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.qpython.qpy.console.shortcuts.FSNavigator"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:label="@string/addshortcut_button_find_command"
            android:launchMode="singleTop"
            android:theme="@style/ConsoleTheme">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/WebViewTheme" />


        <activity android:name="org.qpython.qpy.plugin.activity.PluginManagerActivity" />
        <activity android:name="org.qpython.qpy.plugin.activity.LocalPluginInstallActivity" />


        <!--zxing-->
        <activity android:name="org.qpython.qpy.main.activity.QrCodeActivity" />

        <!--SERVICE-->
        <service android:name="org.qpython.qpy.console.TermService">
            <intent-filter>
                <action android:name="jackpal.androidterm.action.START_TERM.v1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>


    </application>

    <meta-data
        android:name="com.sec.android.support.multiwindow"
        android:value="true"></meta-data>

</manifest>